<!DOCTYPE html>
<html lang="en">
<head>
    <script src="angular.min.js">  </script>
    <style>
        .red{border-color: red;}
        .green{border-color: green;}
    </style>
</head>
<body ng-app>
        <p>{{ 8+2 }}</p>
        <input type="text" ng-model="user">
        <h2>{{ user }}</h2>
        <div>
            <label>show me the paragraph
            <input type="checkbox" ng-model="checked">
            <h2>{{ checked }}</h2> </label>
            <p ng-if="checked">show the paragraph</p>
        </div>
        <div ng-init="myNumber=15">
            <input type="text" ng-model="guess" ng-class="{red:guess!=myNumber, green:guess==myNumber}">
        </div>
        <div ng-init="numArray=[1,2,3,3,4,5,6,7,8,9]">
            <ul>
                <li ng-repeat="val in numArray track by $index">{{val}}</li>  
            </ul>
        </div>
        <div ng-init="students=[{name:'jasna',subject:'maths',age:21},
                                {name:'anu',subject:'english',age:11},
                                {name:'manu',subject:'it',age:10}]">
            <ul>
                 <li ng-repeat="val in students">{{val}}</li>  
            </ul>
        </div>
</body>
</html>